@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-radius: 0;
}

body {
  font-family: 'JetBrains Mono', monospace;
}

.text-rainbow {
  background: linear-gradient(in oklch 90deg, var(--ui-primary), yellow,var(--ui-secondary));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.bg-chevron-left {

  background:
    linear-gradient(45deg, var(--ui-bg-elevated) 25%, transparent 25%),
    linear-gradient(135deg, var(--ui-bg-elevated) 25%, transparent 25%),
    linear-gradient(45deg, var(--ui-bg-accented) 50%, transparent 50%),
    linear-gradient(135deg, var(--ui-bg-accented) 50%, var(--ui-bg-elevated) 50%);

  background-size: 48px 48px;
}

.bg-chevron-right {

  background:
    linear-gradient(315deg, var(--ui-bg-elevated) 25%, transparent 25%),
    linear-gradient(225deg, var(--ui-bg-elevated) 25%, transparent 25%),
    linear-gradient(315deg, var(--ui-bg-accented) 50%, transparent 50%),
    linear-gradient(225deg, var(--ui-bg-accented) 50%, var(--ui-bg-elevated) 50%);

  background-size: 48px 48px;
}