@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-radius: 0;
}

body {
  font-family: 'JetBrains Mono', monospace;
}

.text-rainbow {
  background: linear-gradient(in oklch 90deg, var(--ui-primary), yellow,var(--ui-secondary));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}